In [1]:
import pandas as pd

In [3]:
dataset=pd.read_csv("Placement.csv")
dataset.head(5)

   cgpa  package
0  6.89      3.26
1  5.12      1.98
2  7.82      3.25
3  7.42      3.67
4  6.94      3.57

In [7]:
x=dataset.iloc[:,:-1]
y=dataset["package "]

In [5]:
new_data=dataset.head(10)

In [11]:
x_new=new_data.iloc[:,:-1]
y_new=new_data["package "]

In [8]:
from sklearn.model_selection import LeaveOneOut,LeavePOut,KFold,StratifiedKFold

In [12]:
lo=LeaveOneOut()

for train,test in lo.split(x_new,y_new):
    print(train,test)

[1 2 3 4 5 6 7 8 9] [0]
[0 2 3 4 5 6 7 8 9] [1]
[0 1 3 4 5 6 7 8 9] [2]
[0 1 2 4 5 6 7 8 9] [3]
[0 1 2 3 5 6 7 8 9] [4]
[0 1 2 3 4 6 7 8 9] [5]
[0 1 2 3 4 5 7 8 9] [6]
[0 1 2 3 4 5 6 8 9] [7]
[0 1 2 3 4 5 6 7 9] [8]
[0 1 2 3 4 5 6 7 8] [9]

In [16]:
lk=KFold(n_splits=5)

for train,test in lk.split(x_new,y_new):
    print(train,test)

[2 3 4 5 6 7 8 9] [0 1]
[0 1 4 5 6 7 8 9] [2 3]
[0 1 2 3 6 7 8 9] [4 5]
[0 1 2 3 4 5 8 9] [6 7]
[0 1 2 3 4 5 6 7] [8 9]

In [18]:
from sklearn.linear_model import LinearRegression

In [20]:
from sklearn.model_selection import  cross_val_score

In [24]:
p=cross_val_score(LinearRegression(),x,y,cv=5)*100
p

array([62.78071444, -3.38217808, 89.40389543, 56.91166618, 38.37899482])

In [26]:
p.sort()
p

array([-3.38217808, 38.37899482, 56.91166618, 62.78071444, 89.40389543])