In [7]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import StandardScaler

In [2]:
dataset=pd.read_csv(r"C:\Users\HP\OneDrive\Desktop\Machine learning\Churn_Modelling.csv")
dataset.head(5)

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [4]:
dataset.isnull().sum()

RowNumber          0
CustomerId         0
Surname            0
CreditScore        0
Geography          0
Gender             0
Age                0
Tenure             0
Balance            0
NumOfProducts      0
HasCrCard          0
IsActiveMember     0
EstimatedSalary    0
Exited             0
dtype: int64

In [6]:
input_data=dataset.iloc[:,:-1]
output_data=dataset.iloc[:,:-1]

In [10]:
from sklearn.preprocessing import StandardScaler
import pandas as pd

# Select only numeric columns
numeric_cols = input_data.select_dtypes(include=['int64', 'float64']).columns

sc = StandardScaler()
input_data[numeric_cols] = sc.fit_transform(input_data[numeric_cols])

In [19]:
input_data.shape

(10000, 13)

In [13]:
import tensorflow

In [15]:
from keras.layers import Dense
from keras.models import Sequential

In [16]:
ann=Sequential()

In [27]:
ann.add(Dense(10,input_dim=13,activation="relu"))
ann.add(Dense(8,activation="relu"))
ann.add(Dense(6,activation="relu"))
ann.add(Dense(4,activation="relu"))
ann.add(Dense(2,activation="relu"))
ann.add(Dense(1,activation="sigmoid"))

In [25]:
ann.compile(optimizer='adam',loss="binary_crossentropy",metrics=['accuray'])

In [28]:
from sklearn.model_selection import train_test_split

In [29]:

X_train, X_test, y_train, y_test = train_test_split(
    input_data, output_data, 
    test_size=0.2,      # 20% test, 80% train
    random_state=42     # for reproducibility
)

In [30]:
print(X_train.shape, X_test.shape)
print(y_train.shape, y_test.shape)

(8000, 13) (2000, 13)
(8000, 13) (2000, 13)

In [46]:
# Check all columns in X_train
print(X_train.dtypes)

# List only object/string columns
print(X_train.select_dtypes(include=['object']).columns)

RowNumber          float64
CustomerId         float64
Surname             object
CreditScore        float64
Geography           object
Gender              object
Age                float64
Tenure             float64
Balance            float64
NumOfProducts      float64
HasCrCard          float64
IsActiveMember     float64
EstimatedSalary    float64
dtype: object
Index(['Surname', 'Geography', 'Gender'], dtype='object')

In [56]:
# input_data.drop(columns=["Surname","Gender","Geography"],inplace=True)

In [59]:
# input_data = pd.get_dummies(input_data, columns=['Geography'])

In [54]:
# Check data types
print(X_train.dtypes)

# List object/string columns
print(X_train.select_dtypes(include=['object']).columns)

RowNumber          float64
CustomerId         float64
Surname             object
CreditScore        float64
Geography           object
Gender              object
Age                float64
Tenure             float64
Balance            float64
NumOfProducts      float64
HasCrCard          float64
IsActiveMember     float64
EstimatedSalary    float64
dtype: object
Index(['Surname', 'Geography', 'Gender'], dtype='object')

In [61]:
# ann.fit(X_train,y_train,batch_size=100,epochs=10)

In [62]:
from sklearn.preprocessing import StandardScaler

numeric_cols = input_data.select_dtypes(include=['float64', 'int64']).columns
scaler = StandardScaler()
input_data[numeric_cols] = scaler.fit_transform(input_data[numeric_cols])

In [65]:
# Drop irrelevant string columns
X_train = X_train.drop(['Surname'], axis=1)
X_test  = X_test.drop(['Surname'], axis=1)

# Encode Gender (male=0, female=1)
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
X_train['Gender'] = le.fit_transform(X_train['Gender'])
X_test['Gender']  = le.transform(X_test['Gender'])

# One-hot encode Geography
X_train = pd.get_dummies(X_train, columns=['Geography'])
X_test  = pd.get_dummies(X_test, columns=['Geography'])

# Ensure both sets have same columns after encoding
X_test = X_test.reindex(columns=X_train.columns, fill_value=0)

In [67]:
from sklearn.preprocessing import StandardScaler

numeric_cols = X_train.select_dtypes(include=['float64', 'int64']).columns
scaler = StandardScaler()
X_train[numeric_cols] = scaler.fit_transform(X_train[numeric_cols])
X_test[numeric_cols]  = scaler.transform(X_test[numeric_cols])

In [68]:
print(X_train.dtypes)
# Should show only int64 or float64

RowNumber            float64
CustomerId           float64
CreditScore          float64
Gender               float64
Age                  float64
Tenure               float64
Balance              float64
NumOfProducts        float64
HasCrCard            float64
IsActiveMember       float64
EstimatedSalary      float64
Geography_France        bool
Geography_Germany       bool
Geography_Spain         bool
dtype: object

In [70]:
# from tensorflow.keras.models import Sequential
# from tensorflow.keras.layers import Dense

# ann = Sequential([
#     Dense(16, activation='relu', input_shape=(X_train.shape[1],)),
#     Dense(8, activation='relu'),
#     Dense(1, activation='sigmoid')
# ])

# ann.compile(optimizer='adam', loss='binary_crossentropy', metrics=['accuracy'])

# history = ann.fit(X_train, y_train, batch_size=100, epochs=10)